.App {
  /*
  background-color: #1b1b1b ;
  background-image: linear-gradient(20deg, #49464F 0%, #1b1b1b 100%);
  */
  background-image: linear-gradient(20deg, #2b5876 0%, #4e4376 100%);
  height: 100vh;
  overflow: hidden;
}

.App-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

.title-area {
  position: absolute;
  top: 0px;
  z-index: 0;
}

.title-wide {
  font-size: 7vw;
  color: #fff;
  font-weight: 900;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-family: Raleway,Helvetica Neue,Helvetica,sans-serif;
  line-height: 0.1em;
  margin: .5em 0em;
}

.wide-card-list {
  padding-top: 10vw;
  width: 45em;
  margin: auto;
  z-index: 1;
}

.card-list {
  padding: 28vw 2.5vw 0vh 2.5vw;
}


.card {
  margin-bottom: 3vh;
  padding: 1em;
  background-color: #fff;
  border-radius: 2px;
}

.wide-img-container {
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}

.wide-img-area {
  margin: 10px;
}

.wide-img {
  width: 2em;
}